[submodule "dpdk"]
	path = dpdk
	url = https://github.com/anlaneg/dpdk.git
[submodule "mk"]
	path = mk
	url = https://github.com/anlaneg/amf.git
[submodule "src/lib/libnl"]
	path = src/lib/libnl
	url = https://github.com/anlaneg/libnl
[submodule "src/lib/libevent"]
	path = src/lib/libevent
	url = https://github.com/anlaneg/libevent.git
[submodule "src/lib/liburcu"]
	path = src/lib/liburcu
	url = https://github.com/anlaneg/userspace-rcu.git
[submodule "src/lib/libpktdump/tcpdump"]
	path = src/lib/libpktdump/tcpdump
	url = https://github.com/anlaneg/tcpdump.git
[submodule "src/lib/libpktdump/libpcap"]
	path = src/lib/libpktdump/libpcap
	url = https://github.com/anlaneg/libpcap.git
