[submodule "dpdk"]
	path = dpdk
	url = https://github.com/anlaneg/dpdk.git
[submodule "mk"]
	path = mk
	url = https://github.com/anlaneg/amf.git
[submodule "src/lib/libnl"]
	path = src/lib/libnl
	url = https://github.com/anlaneg/libnl
